# Ignore everything by default
*

# Whitelist specific files and directories
!addons/
!docs/
!LICENSE
!README.md
!project.godot
!.editorconfig
!.gitattributes
!.gitignore

# Addons subdirectories (keep them)
!addons/**